<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
    <title>CSV File Viewer</title>
</head>
<body>
   

        <div id="header">
            <h1 style="height:100%; color: white; text-align: center; ">CSV File Viewer</h1>
        </div>
    
        <div id="fileSubmitDiv">
            <div style="top: 10%; position: absolute; height: 20%; min-width: 20%;">
                <p class="formHeading">Please select files:</p>
                <% if(msg.length>0){ %>
                    <small id="fileSubmitDivMsg"><%= msg %></small>
                <% } %>
                <form action="/files" method="post" enctype="multipart/form-data" id="fileSubmitForm" class="form">
                    <div id="filesInputDiv">
                        <input type="file" id="filesInput" name="files" multiple  required/>
                    </div>
                    <input type="submit" title="Click to submit">
                </form>
            </div>

        </div>

</body>
</html>