body {
    font-family: Verdana, sans-serif;
    margin: 0%;
}

#main{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: relative; */
    margin-bottom: 20px;
    background-color: blueviolet;
    padding: 5px;
}

#fileSubmitDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#filesDiv{
    content: "Select some files";
}

#selectedFilesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#selectedFilesInputsDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#selectedFiles_SearchBox{
    display: flex;
    flex-direction: row;
}

#displaySelectedFilesDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#tableDiv{
    margin-bottom: 20px;
}

#table{
    width: 100%;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even){
    background-color: #D6EEEE;
}

a{
    text-decoration: none;
}
